.snake-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(201, 201, 201);
}

.snake-field {
    position: relative;
    display: grid;
    width: 600px;
    height: 600px;
    background-color: bisque;
}

.cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: transparent;
    border-width: 1px;
    border-style: dashed;
    border-top-color: rgba(223, 192, 154, 0.5);
    border-left-color: rgba(223, 192, 154, 0.5);
    border-bottom-color: transparent;
    border-right-color: transparent;

}

.food-cell {
    background-color: rgb(22, 157, 81);
}

.snake-tail {
    background-color: rgb(229, 104, 104);
}

.snake-head {
    background-color: rgb(180, 28, 71);
}

.head-up {
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}